<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6"><h3 class="panel-title">Select a Restaurant</h3></div>
            </div>
        </div>
        <div class="panel-body">
            <div ng-show="!model.restaurant && Submitted">
                <alert type="danger">
                    Select a Restaurant
                </alert>
            </div>
            <table ng-table="tableParams" show-filter="true" class="table table-striped table-hover">
                <tbody>
                <tr ng-repeat="prd in $data" id="{{prd.id}}"
                    class="pointer" ng-click="select(prd.id)">
                    <td data-title="'Name'" header-class="text-left" sortable="'name'" filter="{'name': 'text'}"> {{prd.name}}</td>
                    <td data-title="'locality'" header-class="text-left" sortable="'locality'" filter="{'locality': 'text'}">{{prd.locality}}</td>
                    <td data-title="'City'"  header-class="text-left" sortable="'city'">{{prd.city}}</td>
                    <td data-title="'Cuisine'" header-class="text-left" sortable="'cuisine'" ng-select="filterCuisine()" filter-data="cuisines()">{{prd.cuisine}}</td>
                    <td data-title="''" header-class="text-left" filter="{ 'dummy': 'clearFilter' }">
                        <span ng-show="isSelected(prd.id)" class="label label-success status-text">Selected</span>
                    </td>
                </tr>
                <!--<tr ng-if="$data.length === 0">-->
                    <!--<td colspan="8" class="no-data">No Restaurants to display</td>-->
                <!--</tr>-->
                </tbody>
            </table>

            <script type="text/ng-template" id="ng-table/filters/clearFilter.html">
                <button type="button" class="btn btn-default btn-sml btn-table-clear-filters" ng-click="clearFilters()">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </script>

            <div class="col-xs-6 col-xs-offset-3">
                <a href="#orders/selectItems" class="btn btn-block btn-info" ng-click="goNext()">
                    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>