<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6"><h3 class="panel-title">Select Items</h3></div>
            </div>
        </div>
        <div class="panel-body">

            <table ng-table="tableParams" class="table">
                <tbody ng-repeat="group in $groups">
                <tr class="ng-table-group">
                    <td colspan="{{$columns.length}}">
                        <a href="" ng-click="group.$hideRows = !group.$hideRows">
                            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                            <strong>{{ group.value }}</strong>
                        </a>
                    </td>
                </tr>
                <tr ng-hide="group.$hideRows" ng-repeat="user in group.data" ng-click="select(user.id)">
                    <td sortable="name" header-class="text-left" data-title="'Name'">
                        {{user.name}}
                    </td>
                    <td sortable="price" header-class="text-left" data-title="'Price'">
                        <span class="fa fa-inr"></span>
                        {{user.price}}
                    </td>
                    <td sortable="quantity" header-class="text-left" data-title="'Quantity'">
                        <input type="number" name="quantity" class="col-md-4" min="0" max="100" ng-model="user.quantity" class="form-control">
                    </td>
                    <td header-class="text-left" data-title="' '">
                        <span ng-show="isSelected(user.id)" class="label label-success status-text">Selected</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="col-xs-6 col-xs-offset-3">
                <a href="#orders/previewInvoice" class="btn btn-block btn-info" ng-click="goNext()">
                    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>

    </div>
</div>